<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Search</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <script src="/resources/js/catalog.js"></script>
  <link rel="stylesheet" href="/resources/css/header.css">
  <link rel="stylesheet" href="/resources/css/footer.css">

  <style>
    tr:nth-child(even) {
      background-color: #f2f2f2
    }
  </style>
</head>
<body>

<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="container">
  <form th:action="@{/catalog}" method="post" th:object="${products}">
    <!--TODO Add more filter-->
    <!--TODO Add Ratings-->
    <!--Input search data-->
    <fieldset>
      <legend th:text="#{button.search}">Search</legend>
      <div class="input-group">
        <div class="input-group-prepend">
          <label for="query" class="input-group-text" th:text="#{name}+' '+#{or}+' '+#{producer}">
            Name or Producer
          </label>
        </div>
        <input type="text" name="query" class="form-control" id="query" th:placeholder="#{site.search}"
               value="">
        <div class="input-group-append">
          <div class="input-group-prepend">
            <label for="cost" class="input-group-text" th:text="#{cost}">
              Cost
            </label>
          </div>
          <input type="number" name="cost" class="form-control bfh-number"
                 th:placeholder="#{cost}" id="cost" value="0" step="0.01" min="0">
        </div>
      </div>
    </fieldset>

    <!--Limitations-->
    <fieldset>
      <legend th:text="#{number.results}">Количество результатов</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="limit" value="0" checked th:text="#{search.nolimit}">
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="limit" value="25" th:text="25">
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="limit" value="50" th:text="50">
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="limit" value="100" th:text="100">
        </label>
      </div>
    </fieldset>

    <!--Options Pagination-->
    <fieldset class="form-group">
      <legend th:text="#{result.on.page}">Сколько показать результатов на странице?</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="pagination" value="10" checked th:text="10">
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="pagination" value="30" th:text="30">
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="pagination" value="50" th:text="50">
        </label>
      </div>
    </fieldset>

    <!--Search button-->
    <p class="text-center">
      <button class="btn btn-success" type="submit" th:text="#{button.search}">Search</button>
    </p>

    <!--TODO Add images-->
    <!--TODO attach view and to cart-->
    <!--Product table-->
    <table id="productTable" class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col" onclick="sortTable(0)" th:text="#{name}">Name</th>
        <th scope="col" onclick="sortTable(1)" th:text="#{cost}">Cost</th>
        <th scope="col" th:text="#{producer}">Producer</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="product : ${pagedListHolder.pageList}">
        <th scope="row" th:text="${products.indexOf(product)} + 1">id</th>
        <td th:text="${product.name}">Product name</td>
        <td th:text="${product.cost}">Product cost</td>
        <td th:text="${product.producer}">Product producer</td>
        <td><img border="0" alt="Cart" width="30" height="30"
                 src="https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg">
        </td>
        <td><img border="0" alt="Cart" width="30" height="30"
                 src="http://simpleicon.com/wp-content/uploads/Shopping-Cart-9.png">
        </td>
      </tr>
      </tbody>
    </table>
  </form>

  <!--Pagination-->
  <div th:if="${not pagedListHolder.getPageList().isEmpty()}">
    <p class="text-center" th:text="#{search.number.found-result}+': '+${pagedListHolder.source.size()}"></p>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center"
          th:with="currentUrl=(${@currentUrlWithoutParam.apply('page')})">
        <!--Start Button-->
        <li class="page-item" th:if="${not pagedListHolder.isFirstPage()}">
          <a class="page-link" th:href="@{${currentUrl}(page=1)}"
             th:text="#{pagination.start}">
            В начало
          </a>
        </li>
        <!--Previous Button-->
        <li class="page-item" th:if="${not pagedListHolder.isFirstPage()}">
          <a class="page-link"
             th:href="@{${currentUrl}(page=${pagedListHolder.page})}"
             th:text="#{navigation.previous}">
            Previous
          </a>
        </li>
        <!--Buttons-->
        <li th:class="page-item + ${page == pagedListHolder.page + 1 ? ' active' : ''}"
            th:each="page : ${#numbers.sequence(pagedListHolder.page==0?1:pagedListHolder.page,pagedListHolder.page+1==pagedListHolder.pageCount?pagedListHolder.pageCount:pagedListHolder.page+2)}">
          <a class="page-link" th:href="@{${currentUrl}(page=${page})}" th:text="${page}">page</a>
        </li>
        <!--Next Button-->
        <li class="page-item" th:if="${not pagedListHolder.isLastPage()}">
          <a class="page-link"
             th:href="@{${currentUrl}(page=${pagedListHolder.page + 2})}"
             th:text="#{navigation.next}">Next</a>
        </li>
        <!--End Button-->
        <li class="page-item" th:if="${not pagedListHolder.isLastPage()}">
          <a class="page-link"
             th:href="@{${currentUrl}(page=${pagedListHolder.pageCount})}"
             th:text="#{pagination.end}">В конец</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<br>
<br>
<br>
<br>

<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>