<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <title>Sign Up</title>
  <script src="/resources/js/jquery-3.2.1.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>

  <script src="/resources/js/registration.js"></script>
  <link rel="stylesheet" href="/resources/css/registration.css">
  <link rel="stylesheet" href="/resources/css/header.css">
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="container">
  <div class="row centered">
    <div class="col-md-6" style="margin-left: 25%">
      <div class="panel with-nav-tabs panel-info">
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#login" data-toggle="tab" th:text=" #{registration.form.login} "> Login </a>
            </li>
            <li>
              <a href="#signup" data-toggle="tab" th:text=" #{registration.form.title} "> Signup </a>
            </li>
          </ul>
        </div>

        <div class="panel-body">
          <div class="tab-content">
            <div id="login" class="tab-pane fade in active register">
              <div class="container-fluid">
                <div class="row">
                  <h2 class="text-center" style="color: #5cb85c;" th:text=" #{registration.form.login} "><strong>
                    Login </strong></h2>
                  <hr/>

                  <form class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'"
                        th:action="@{/login}" th:object="${userModel}" th:fragment="signupForm" method="post">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <span class="glyphicon glyphicon-user"></span>
                            </div>
                            <input type="text" th:placeholder="#{registration.user.username}" name="uname"
                                   th:field="*{username}"
                                   class="form-control">
                          </div>
                          <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <span class="glyphicon glyphicon-lock"></span>
                            </div>

                            <input type="password" th:placeholder="#{registration.user.password}" name="pass"
                                   th:field="*{password}"
                                   class="form-control">
                          </div>
                          <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                          <input id="remember-me" type="checkbox" name="check" checked>
                          <label for="remember-me" th:text="#{registration.form.remember.me}">Remember Me</label>
                        </div>
                      </div>

                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                          <a href="#forgot" data-toggle="modal" th:text=" #{registration.form.forgot.password}"> Forgot
                            Password? </a>
                        </div>
                      </div>
                    </div>
                    <hr/>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <button type="submit" class="btn btn-success btn-block btn-lg"
                                th:text=" #{registration.form.login}"> Login
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div id="signup" class="tab-pane fade">
              <div class="container-fluid">
                <div class="row">
                  <h2 class="text-center" style="color: #f0ad4e;"><Strong th:text=" #{registration.form.register} ">
                    Register </Strong></h2>
                  <hr/>
                  <form th:action="@{/registration}" th:object="${userModel}" method="post">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon iga1">
                              <span class="glyphicon glyphicon-user"></span>
                            </div>
                            <input type="text" class="form-control"
                                   th:placeholder="#{registration.form.enter}+' '+#{registration.user.username}"
                                   name="name" th:field="*{username}">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon iga1">
                              <span class="glyphicon glyphicon-envelope"></span>
                            </div>
                            <input type="email" class="form-control"
                                   th:placeholder="#{registration.form.enter}+' '+#{registration.user.email}"
                                   name="mail" th:field="*{email}">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon iga1">
                              <span class="glyphicon glyphicon-lock"></span>
                            </div>
                            <input type="password" class="form-control"
                                   th:placeholder="#{registration.form.enter}+' '+#{registration.user.password}"
                                   name="pass" th:field="*{password}">
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                          <button type="submit" class="btn btn-lg btn-block btn-warning"
                                  th:text=" #{registration.form.register}"> Register
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="forgot">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss='modal' aria-hidden="true"><span
          class="glyphicon glyphicon-remove"></span></button>
        <h4 class="modal-title" style="font-size: 32px; padding: 12px;"
            th:text=" #{registration.form.recover.password} "> Recover Your Password </h4>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon iga2">
                    <span class="glyphicon glyphicon-envelope"></span>
                  </div>
                  <input type="email" class="form-control" th:placeholder="#{registration.form.enter.email.id}"
                         name="email">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon iga2">
                    <span class="glyphicon glyphicon-lock"></span>
                  </div>
                  <input type="password" class="form-control" th:placeholder="#{registration.form.enter.new.password}"
                         name="newpwd">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="form-group">
          <button type="submit" class="btn btn-lg btn-info" th:text=" #{registration.form.save} "> Save
            <span class="glyphicon glyphicon-saved"></span>
          </button>

          <button type="button" data-dismiss="modal" class="btn btn-lg btn-default"
                  th:text=" #{registration.form.cancel} "> Cancel
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
