<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
<div th:fragment="alert (type, message)" th:assert="${!#strings.isEmpty(type) and !#strings.isEmpty(message)}"
     class="alert alert-dismissable" th:classappend="'alert-' + ${type}">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <span th:text="${message}">Test</span>
</div>
</body>
</html>