<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" media="screen"
        id="bootstrap-css">
</head>
<body>
<div class="header" th:fragment="header" th:with="currentUrl=(${@currentUrlWithoutParam.apply('language')})">

  <a th:href="@{/search}" class="logo">CompanyLogo</a>
  <a th:classappend="${#httpServletRequest.getRequestURI() == '/search' ? 'active' : ''}"
     th:href="@{/search}" th:text="#{header.catalog}">Catalog</a>
  <div class="header-right">
    <a th:href="@{${currentUrl}(language='en_US')}">
      <img border="0" alt="ENG"
           src="http://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/256/United-Kingdom-flag-icon.png"
           width="30"
           height="30">
    </a>
    <a th:href="@{${currentUrl}(language='ru_RU')}">
      <img border="0" alt="RUS"
           src="http://icons.iconarchive.com/icons/custom-icon-design/flag-3/256/Russia-Flag-icon.png"
           width="30"
           height="30">
    </a>
    <!--<a th:href="${}">Contact</a>-->
    <!--<a href="#about">About</a>-->
    <a th:classappend="${#httpServletRequest.getRequestURI() == '/registration' ? 'active' : ''}"
       th:href="@{/registration}" th:text="#{header.sign}">Sign in/out</a>
  </div>
</div>

<!--<div class="navbar-collapse collapse">-->
<!--<ul class="nav navbar-nav">-->
<!--<li th:classappend="${module == 'home' ? 'active' : ''}">-->
<!--<a href="#" th:href="@{/}">Home</a>-->
<!--</li>-->
<!--<li th:classappend="${module == 'tasks' ? 'active' : ''}">-->
<!--<a href="#" th:href="@{/task}">Tasks</a>-->
<!--</li>-->
<!--</ul>-->
<!--<ul class="nav navbar-nav navbar-right">-->
<!--<li th:if="${#authorization.expression('!isAuthenticated()')}">-->
<!--<a href="/signin" th:href="@{/signin}">-->
<!--<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in-->
<!--</a>-->
<!--</li>-->
<!--<li th:if="${#authorization.expression('isAuthenticated()')}">-->
<!--<a href="/logout" th:href="@{#}" onclick="$('#form').submit();">-->
<!--<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout-->
<!--</a>-->
<!--<form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
</body>
</html>